<h2>
Lets understand difference between loc and iloc.
Use loc when you want to select data based on labels (row and column names).df.loc[3]  # Select row with index label 3,df.loc[df['A'] > 5]  # Select rows where column 'A' is greater than 5 <br><br>
Use iloc when you want to select data based on the integer positions (0-based index).df.iloc[1:4, 0:2]  # Select rows from position 1 to 3 and columns from position 0 to 1

</h2>

<h2 style = 'color:purple;'>Note that :2 means 0 and 1, 2: mean 2,3,4... and 2:4 means 2,3  </h2>

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('diabetes.csv')

In [5]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

<h2 style = 'color : blue;'>Now in indexing,when we do iloc[1,2] then it means iloc[row,column].If we do iloc[:,'col'] then i means selecting all the row(:) of column (col)<h2>

<h2 style='color:red;'>1. Selecting Specific Rows and Columns</h2>

### Select the first two rows and the first three columns:

In [31]:
df.iloc[0:2 , 0:3]

   Pregnancies  Glucose  BloodPressure
0            6      148             72
1            1       85             66

<h2 style = 'color :red;'>2)Selecting All Rows for Specific Columns</h2>

### Select all rows and the first two columns

In [35]:
df.iloc[:,0:2]

     Pregnancies  Glucose
0              6      148
1              1       85
2              8      183
3              1       89
4              0      137
..           ...      ...
763           10      101
764            2      122
765            5      121
766            1      126
767            1       93

[768 rows x 2 columns]

<h2 style = 'color :red;'>3)Selecting Rows Based on Conditions</h2>

### Select rows where age is greater than 25:

In [42]:
df[df['Age']>30]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
8,2,197,70,45,543,30.5,0.158,53,1
...,...,...,...,...,...,...,...,...,...
759,6,190,92,0,0,35.5,0.278,66,1
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
766,1,126,60,0,0,30.1,0.349,47,1

<h2 style ='color:red ;'> 4) Selecting column based on condition  </h2>

In [45]:
df.iloc[: , :2] ## keep all the rows but return the column till 0,1

     Pregnancies  Glucose
0              6      148
1              1       85
2              8      183
3              1       89
4              0      137
..           ...      ...
763           10      101
764            2      122
765            5      121
766            1      126
767            1       93

[768 rows x 2 columns]

<h2 style = 'color :red;'>4)Selecting Columns in Non-Continuous Order</h2>

### Select the first and third columns and all row:

In [48]:
df.iloc[: , [0,2]]

     Pregnancies  BloodPressure
0              6             72
1              1             66
2              8             64
3              1             66
4              0             40
..           ...            ...
763           10             76
764            2             70
765            5             72
766            1             60
767            1             70

[768 rows x 2 columns]

<h2 style = 'color :red;'>5)Using Negative Indices</h2>

In [52]:
df.iloc[:-3 , :-2] # Reduce the last three rows and last two columns

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction
0,6,148,72,35,0,33.6,0.627
1,1,85,66,29,0,26.6,0.351
2,8,183,64,0,0,23.3,0.672
3,1,89,66,23,94,28.1,0.167
4,0,137,40,35,168,43.1,2.288
...,...,...,...,...,...,...,...
760,2,88,58,26,16,28.4,0.766
761,9,170,74,31,0,44.0,0.403
762,9,89,62,0,0,22.5,0.142
763,10,101,76,48,180,32.9,0.171
764,2,122,70,27,0,36.8,0.340

### Select the last two rows and the last three columns

In [55]:
df.iloc[-3:,-2 :]

     Age  Outcome
765   30        0
766   47        1
767   23        0

<h2 style = 'color :red;'>6)Using Step in Slicing</h2>

### Select every other column

In [63]:
df.iloc[:,::2]

     Pregnancies  BloodPressure  Insulin  DiabetesPedigreeFunction  Outcome
0              6             72        0                     0.627        1
1              1             66        0                     0.351        0
2              8             64        0                     0.672        1
3              1             66       94                     0.167        0
4              0             40      168                     2.288        1
..           ...            ...      ...                       ...      ...
763           10             76      180                     0.171        0
764            2             70        0                     0.340        0
765            5             72      112                     0.245        0
766            1             60        0                     0.349        1
767            1             70        0                     0.315        0

[768 rows x 5 columns]

### Select every other row

In [66]:
df.iloc[::2, :]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1
8,2,197,70,45,543,30.5,0.158,53,1
...,...,...,...,...,...,...,...,...,...
758,1,106,76,0,0,37.5,0.197,26,0
760,2,88,58,26,16,28.4,0.766,22,0
762,9,89,62,0,0,22.5,0.142,33,0
764,2,122,70,27,0,36.8,0.340,27,0
766,1,126,60,0,0,30.1,0.349,47,1