## There are two types of categorical data. 1) Nominal: This is random data with no meaningful order.For eg: (Male,female),(red,green,blue),(yes,no)
## Next one is 2) Ordinal(Ordered) data :This is arranged data.For eg (distinction,first division,second division),(High,medium,low),(Neutral,satisfied,not satisfied),(Bachlor,masters,phd)

<h2 style = "color:red;">Encoding is the process where values of categorical data is converted into numeric form suitable for analysis by machine learning algorithm.<br>Here we have two types of encoding <b> 1)Ordinal Encoding</b>(for ordinal data) and <b>2) one hot encoding</b>(For Nominal data)and <b> 3) Binary encoding</b>b for yes no data i.e. Spam,not spam.Drink dont drink or 0,1 data</h2>

# 1) ORDINAL ENCODING

In [5]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('customer.csv')

In [9]:
df.sample(5)

    age  gender   review education purchased
5    31  Female  Average    School       Yes
47   38  Female     Good        PG       Yes
31   22  Female     Poor    School       Yes
3    72  Female     Good        PG        No
11   74    Male     Good        UG       Yes

### In above, Age ,Gender are Nomial.Review and Education are Ordinal.Purchased is Label

### Now we have to perform one hot encoding in Nominal Attribute and Ordinal Encoding in OrdinaL attribute and Label encoding in Purchase

In [16]:
from sklearn.model_selection import train_test_split

### FOR ORDINAL ATTRIBUTE ,performing ordinal Encoding

In [20]:
X = df.iloc[:, [2,3]]
Y = df.iloc[:,-1]

In [22]:
X,Y

(     review education
 0   Average    School
 1      Poor        UG
 2      Good        PG
 3      Good        PG
 4   Average        UG
 5   Average    School
 6      Good    School
 7      Poor    School
 8   Average        UG
 9      Good        UG
 10     Good        UG
 11     Good        UG
 12     Poor    School
 13  Average    School
 14     Poor        PG
 15     Poor        UG
 16     Poor        UG
 17     Poor        UG
 18     Good    School
 19     Poor        PG
 20  Average    School
 21  Average        PG
 22     Poor        PG
 23     Good    School
 24  Average        PG
 25     Good    School
 26     Poor        PG
 27     Poor        PG
 28     Poor    School
 29  Average        UG
 30  Average        UG
 31     Poor    School
 32  Average        UG
 33     Good        PG
 34  Average    School
 35     Poor    School
 36     Good        UG
 37  Average        PG
 38     Good    School
 39     Poor        PG
 40     Good    School
 41     Good        PG
 42     Good        PG
 43     Poor        PG
 44  Average        UG
 45     Poor        PG
 46     Poor        PG
 47     Good        PG
 48     Good        UG
 49     Good        UG,
 0      No
 1      No
 2      No
 3      No
 4      No
 5     Yes
 6      No
 7     Yes
 8      No
 9     Yes
 10    Yes
 11    Yes
 12     No
 13     No
 14    Yes
 15     No
 16    Yes
 17    Yes
 18     No
 19    Yes
 20    Yes
 21     No
 22    Yes
 23     No
 24    Yes
 25     No
 26     No
 27     No
 28     No
 29    Yes
 30     No
 31    Yes
 32    Yes
 33    Yes
 34     No
 35    Yes
 36    Yes
 37    Yes
 38     No
 39     No
 40     No
 41    Yes
 42    Yes
 43     No
 44     No
 45    Yes
 46     No
 47    Yes
 48    Yes
 49     No
 Name: purchased, dtype: object)

In [25]:
X_train,X_test,Y_train,Y_test = train_test_split(X,
                                                Y,
                                                test_size=0.2,
                                                random_state=0)

In [27]:
X_train

     review education
33     Good        PG
35     Poor    School
26     Poor        PG
34  Average    School
18     Good    School
7      Poor    School
14     Poor        PG
45     Poor        PG
48     Good        UG
29  Average        UG
15     Poor        UG
30  Average        UG
32  Average        UG
16     Poor        UG
42     Good        PG
20  Average    School
43     Poor        PG
8   Average        UG
13  Average    School
25     Good    School
5   Average    School
17     Poor        UG
40     Good    School
49     Good        UG
1      Poor        UG
12     Poor    School
37  Average        PG
24  Average        PG
6      Good    School
23     Good    School
36     Good        UG
21  Average        PG
19     Poor        PG
9      Good        UG
39     Poor        PG
46     Poor        PG
3      Good        PG
0   Average    School
47     Good        PG
44  Average        UG

In [45]:
from sklearn.preprocessing import OrdinalEncoder
categories = [['Poor','Average','Good'],['School','UG','PG']]
oe = OrdinalEncoder(categories=categories)

<h2 style = 'color:green;'>Here in "categories = [['Poor','Average','Good'],['School','UG','PG']]" we are saying that assign [0,1,2] to [['Poor','Average','Good'] and to ['School','UG','PG'] as Poor = 0,Average = 1, and Good =2.If we dont pass the caregories in "oe = OrdinalEncoder(categories=categories) then the number would be assigned randomly i.e. 0 to Average and 1 to Good and 2 to Poor but we dont want to randomly assign it"</h2>

In [48]:
X_train_encoded = oe.fit_transform(X_train)

In [50]:
X_train_encoded

array([[2., 2.],
       [0., 0.],
       [0., 2.],
       [1., 0.],
       [2., 0.],
       [0., 0.],
       [0., 2.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [1., 0.],
       [0., 2.],
       [1., 1.],
       [1., 0.],
       [2., 0.],
       [1., 0.],
       [0., 1.],
       [2., 0.],
       [2., 1.],
       [0., 1.],
       [0., 0.],
       [1., 2.],
       [1., 2.],
       [2., 0.],
       [2., 0.],
       [2., 1.],
       [1., 2.],
       [0., 2.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [1., 0.],
       [2., 2.],
       [1., 1.]])

## Now for LabelEncoder.We always apply LabelEncoder to the class label of the dataframe and not to the input feature.Here we cannot decide the value to be assigned to the categories as in above OrdinalEncoder.LabelEncoder itself decides the value to the label.So it may be 0 for "YES" and 1 for "NO"

In [53]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [55]:
Y_train_encoded = le.fit_transform(Y_train)
Y_test_encoded = le.transform(Y_test)

In [63]:
Y_train_encoded,Y_train

(array([1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
        0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0]),
 33    Yes
 35    Yes
 26     No
 34     No
 18     No
 7     Yes
 14    Yes
 45    Yes
 48    Yes
 29    Yes
 15     No
 30     No
 32    Yes
 16    Yes
 42    Yes
 20    Yes
 43     No
 8      No
 13     No
 25     No
 5     Yes
 17    Yes
 40     No
 49     No
 1      No
 12     No
 37    Yes
 24    Yes
 6      No
 23     No
 36    Yes
 21     No
 19    Yes
 9     Yes
 39     No
 46     No
 3      No
 0      No
 47    Yes
 44     No
 Name: purchased, dtype: object)